/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Press+Start+2P&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a, a:hover {
	color: black;
}

body {
	background-color: whitesmoke;
}

/* Navbar Component */
#jpm-logo {
	margin: 3px 11px 0 11px;
	padding: 0;
}

/* Home Page Marquee Component */
#marquee-component {
	height: 55px;
	margin-top: 3em;
	overflow: hidden;
	position: relative;
}

#marquee-component h1 {
	font-family: 'Homemade Apple', cursive, sans-serif;
	margin: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 55px;
	text-align: center;
	transform: translateX(100%);
	animation: scroll-left 8s linear infinite;
}

@keyframes scroll-left {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

/* Home Page Footer Component  */
#footer-component {
	color: black;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

#my-name {
	font-family: 'Press Start 2P', sans-serif;
	font-size: 0.69em;
}